body
{
background-color:black; 
font-family:verdana; 
font-size:150%; 
color:blue; 
padding: 50px;}

body, p, h1, h2, h3, h4, h5, table, td, th, ul, ol, textarea, input
{font-family: verdana,helvetica,arial,sans-serif;}

th, td {
    padding: 15px; vertical-align:top;
}

table {
    border-spacing: 0;
    width: 100%;
    border: 1px solid #333;
}

th {
    cursor: pointer;
}

th, td {
    text-align: left;
    padding: 16px;
}

h1 {font-size:160%;}
h2 {font-size:120%;margin-top:10px;margin-bottom:10px;}
h3 {font-size:110%;}
h4 {font-size:100%;}
h5 {font-size:70%;}

a:link    {color:#000080; background-color:transparent}
a:visited {color:#000080; background-color:transparent}
a:active  {color:#0000FF; background-color:transparent}
a:hover   {color:#0000FF; background-color:transparent}

a.left:link    {text-decoration:none;color:black;background-color:transparent}
a.left:visited {text-decoration:none;color:black;background-color:transparent}
a.left:hover   {text-decoration:underline;color:#900B09;background-color:transparent}
a.left:active  {text-decoration:underline;color:#900B09;background-color:transparent}

a.red:link    {color:#900B09; background-color:transparent}
a.red:visited {color:#900B09; background-color:transparent}
a.red:active  {color:#FF0000; background-color:transparent}
a.red:hover   {color:#FF0000; background-color:transparent}
